ABORT 'BUSY'
ABORT 'NO CARRIER'
ABORT 'VOICE'
ABORT 'NO DIALTONE'
ABORT 'NO DIAL TONE'
ABORT 'NO ANSWER'
ABORT 'DELAYED'
REPORT CONNECT

TIMEOUT 10
SAY "Calling {=OperatorName}\n"
'OK' 'ATDT*99***1#'
TIMEOUT 30
CONNECT ''