TIMEOUT 5
ECHO ON
ABORT '\nBUSY\r'
ABORT '\nERROR\r'
ABORT '\nNO ANSWER\r'
ABORT '\nNO CARRIER\r'
ABORT '\nNO DIALTONE\r'
ABORT '\nRINGING\r\n\r\nRINGING\r'
'' \rAT
TIMEOUT 12
OK 'AT+CGDCONT=1,"IP","{=APN}"'
OK ATH
OK ATE1
OK AT+CSQ
OK ATD*99#
CONNECT ''